# do not track these files
# configuration and compilation:
/BUILD*
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h.in
/config/
/configure
/m4/
INSTALL

# temporary files:
*~

# test folder:
/TEST
