# Use a persistent compiler cache to speed up rebuilds for a single job.
#.use-ccache:
#  cache:
#    key: "$CI_JOB_NAME-$CI_JOB_STAGE-$CI_COMMIT_REF_SLUG"
#    paths:
#      - ccache/

.use-cuda:
  variables:
    ENV_COMPILER: "NVCCFLAGS=" #\"-arch sm_52\""
    CUDA_OPTIONS: "--with-cuda"

.use-mpi:
  variables:
    ENV_COMPILER: "CC=mpicc CXX=mpiCC"
    MPI_OPTIONS: "--enable-mpi"

.use-openmp:
  variables:
    OPENMP_OPTIONS: "--enable-openmp"

.use-clang:
  variables:
    ENV_COMPILER: "CC=clang CXX=clang++ CFLAGS=-fopenmp=libomp CXXFLAGS=-fopenmp=libomp"
  #before_script:
  #  - mkdir -p ccache
  #  - export CCACHE_BASEDIR=${PWD}
  #  - export CCACHE_DIR=${PWD}/ccache
  

.gromos:base:configure:
  stage: configure-build
  script:
    - echo $ENV_COMPILER
    - echo $OPENMP_OPTIONS
    - echo $MPI_OPTIONS
    - echo $CUDA_OPTIONS
    - cd gromosXX/
    - ./Config.sh $ENV_COMPILER
    - cd ..
    - mkdir build
    - cd build
    - ../gromosXX/configure --disable-debug $OPENMP_OPTIONS $MPI_OPTIONS $CUDA_OPTIONS $ENV_COMPILER
  artifacts:
    when: always
    paths:
      - gromosXX
      - $BUILD_DIR

.gromos:base:build:
  stage: build
  script: 
    - echo $ENV_COMPILER
    - echo $OPENMP_OPTIONS
    - echo $MPI_OPTIONS
    - echo $CUDA_OPTIONS
    - cd build/ 
    - make -j4 $ENV_COMPILER
    - make install $ENV_COMPILER
  artifacts:
    when: always
    paths:
      - $BUILD_DIR

include:
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-22.04.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-22.04-llvm.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-22.04-mpi.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-20.04.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-20.04-llvm.yml'
  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-20.04-mpi.yml'
  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-20.04-cuda-11.6.1.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-18.04.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-18.04-llvm.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-18.04-mpi.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-16.04.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-16.04-llvm.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-16.04-mpi.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/ubuntu-16.04-cuda-10.2.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/debian-11.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/debian-11-mpi.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/debian-10.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/debian-10-mpi.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/debian-9.yml'
#  - local: 'gromosXX/admin/gitlab-ci/gromos.matrix/debian-9-mpi.yml'
